<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 2.4.0
    </div>
    <strong>Bản quyền &copy; 2024-2025 <a href="~/">Văn Đình Tiến</a>.</strong> 
</footer>