@model Category
@{
    ViewBag.Title = "Xóa nhà cung cấp";
}

<div class="box box-danger">
    <div class="box-body">
        <form action="~/Category/Delete/@Model.CategoryID" method="post">
            <div class="form-group">
                <label>Tên loại hàng:</label>
                <p class="form-control-static form-control">@Model.CategoryName</p>
            </div>

            <div class="form-group">
                <label>Mô tả:</label>
                <p class="form-control-static form-control">@Model.Description</p>
            </div>

            <div class="form-group text-right">
                
                @if (!SV21T1020742.BusinessLayers.CommonDataService.InUsedCategory(Model.CategoryID))
                {
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"></i> Xóa dữ liệu
                    </button>
                }
                <a href="~/Category" class="btn btn-default">
                    Quay lại
                </a>
            </div>

        </form>
    </div>
</div>